/* @import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Raleway:wght@500&family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Indie+Flower&family=Raleway:wght@800&family=Source+Code+Pro&display=swap");
* {
  color: rgb(24, 216, 24);
  margin: 30px;
  padding: 0;
}
#current-word {
  font-family: "Indie Flower", cursive;
  font-size: 80px;
}
body {
  background-color: black;
}
.form-control {
  font-family: "Source Code Pro", monospace;
  margin-bottom: 5px;

  width: 380px;
  font-size: 45px;
  border: none;
  background-color: inherit;
  color: white;
  outline: none;
}
/* select {
  margin-top: 0px;
  width: 8rem;
  height: 3rem;
  background: black;
  border: green;
  cursor: pointer;
  font-size: 36px;
}
select:active {
  border: none;
  outline: none;
}

select:focus {
  border: none;
  outline: none;
} */
button {
  width: 90px;
  height: 30px;
  margin: 4px;
  font-size: 20px;
  background: black;
  cursor: pointer;
  border: 1px solid green;
  border-radius: 5px;
}
#word-input {
  padding: 5px 80px 5px -90px;
}

.roww {
  font-family: "Source Code Pro", monospace;
  font-size: 40px;
}
.lead {
  font-family: "Source Code Pro", monospace;
  font-size: 50px;
}

#message {
  grid: flex;
  flex-direction: center;
  /* margin-left: 520px; */
  font-size: 60px;
}
@media only screen and (min-width: 768px) {
}
